body{
    color: #666666;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0 auto;
}

header{
    .header_topbar{
        border: 1px solid #EEEEEE;
        padding: 0 20% 0 20%;
    }
    .header_topbar_ul{
        display: flex;
        li{
            padding: 20px;
            font-size: 12px;
            font-weight: 600;
            border-left: 1px solid #EEEEEE;
            &:hover{
                background-color: #EEEEEE;
            }
    }
    }
    .header_info{
        padding: 0 15% 0 15%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 2%;
        .header_phoneNumber{
            a{
                font-size: 20px;
                font-weight: 600;
                color: #336699;
            }
        }
        button{
            font-size: 11px;
            text-transform: uppercase;
            background-color: #fff;
            border: 2px solid #336699;
            border-radius: 5px;
            padding: 5px 10px 5px 10px;
            color: black;
            &:hover{
                background-color: #336699;
                color: white;
            }
        }
    }
    nav{
        padding:0 15% 0 15%;
        background-color:#336699;
        .header_menu{
            display: flex;
            justify-content: space-around;
            margin-top: 50px;
            color: white;
            font-size: 13px;
            font-weight: 600;
            a{
                padding: 15px;
                &:hover{
                    background-color: #3973AC;
                }
            }
        }

    }
}
.contentContainer{
    align-items: center;
    .contentContainer_banner{
        width: 100%;
        height: 500px;
        background-image: url("/img/сантехниккрасноярск.jpg"); 
        background-position: bottom;
        align-items: center;
        padding: 7%;
    }
    .contentContainer_box{
        background-color: rgba(black, 0.6);
        width: 70%;
        margin: 0 auto;
        padding: 20px;
    }
    h1, p, button{
        color: rgb(255, 255, 255);
        font-size: 35px;
        padding: 30px;
    } 
    p{
        font-size: 20px;
    }
    button{
        font-size: 13px;
        border-radius: 5px;
        padding: 10px;
        background-color: #336699;
        margin: 30px;
        &:hover{
            background-color: #444444;
        }
    }
}
.advantage_container{
    padding:0 15% 0 15%;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    color: #34A4E3;
    font-weight: bold;
    flex-wrap: wrap;
    div{
        max-width: 250px;
        margin: 20px;
    }
    p{
        padding: 15px;
    }
    span{
        color: #666666;
        font-weight: 500;
    }
}
.text{
    padding: 5% 15% 0 15%;
    font-size: 14px;
    line-height: 25px;
    text-align: justify;
    .items{
        width: 80%;
        line-height: 30px;
    }
    span{
        font-weight: bold;
    }
}
.popular_services{
    padding: 5% 15% 0 15%;
    }
    h2{
        font-size: 30px;
        font-weight: 600;
    }
    .popular_services_items{
        position: relative;
        padding-top: 50px;
        display: flex;
        flex-wrap: wrap;
        font-size: 22px;
        div{
            text-align: left;
            display: flex;
            align-items: end;
            padding: 20px;
            flex:20%;
            margin: 30px;
            justify-content: left;
            height: 250px;
            flex-wrap: wrap;
            color: white;
            &:hover{
                .blueblock{
                    top: 0;
                }
                cursor: pointer;
            }
        }
        h3{
            z-index: 2;
            font-weight: 600;
        }
        .blueblock{
            margin: 0;
            position: absolute;
            top: 60%;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: #336699;
            opacity: 0.6;
            overflow: hidden;
        }
        .item1{
            background-image: url("/img/разводка труб.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            overflow: hidden;
        }
        .item2{
            background-image: url("/img/сантехмонтаж.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            overflow: hidden;
        }
        .item3{
            background-image: url("/img/ремонтсанузла.jpeg");
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            overflow: hidden;
        }
        .item4{
            background-image: url("/img/батарея замена.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            overflow: hidden;
        }
        .item5{
            background-image: url("/img/Монтаж-водянного-теплого-пола-2.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            overflow: hidden;
        }
        .item6{
            background-image: url("/img/монтаж котла отопления.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            overflow: hidden;
        }
    }
